<!doctype html>
<html lang="el">
  <head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <meta name="description" content="{{metaDescription}}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/project1.css">
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
    {{#if css}}
    <link rel="stylesheet" href="/css/{{css}}">
    {{/if}}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    {{#if customJs}}
  <script src="{{customJs}} " defer></script>
     {{/if}}
   
    <script src="/js/project.js" defer></script>
</head>
    {{> header}}
<body>
    {{{body}}}

    {{> footer}}
</body>
